<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{% block stylesheets %}
			<link rel="stylesheet" href={{ asset('assets/styles/app.css') }}>
			<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
			<script src="https://kit.fontawesome.com/d621423e14.js" crossorigin="anonymous"></script>
		{% endblock %}

		{% block javascripts %}
			<script src={{ asset('assets/js/app.js')}}></script>
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<header>
		{% block header %}{% endblock %}
	</header>
	<nav class="navbar navbar-expand-lg navbar-light">
		<a href={{ path('app_home') }} id="a-logo">
			<img src={{ absolute_url(asset('assets/img/logo.png')) }} alt="logo" id="logo">
		</a>
		<ul class="navbar-links mr-auto">
			<li class="nav-item">
				<a class="nav-link" href="{{path('app_users')}}">Utilisateurs</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{path('app_tickets')}}">Tickets</a>
			</li>
		</ul>
	</nav>
	<body>
		{% block body %}{% endblock %}
	</body>
	<footer>
		{% block footer %}{% endblock %}
		<p>© Simon Gillier || Concepteur Développeur d'Applications || 2022-2023</p>
	</footer>
</html>
